.Base {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftBase {
  font-family: sans-serif;

  background-color: #edf2fb;
  margin-left: 30px;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid burlywood;
}

.rightBase {
  align-content: center;
  font-family: sans-serif;
  background-color: #edf2fb;
  margin-right: 30px;
  margin-left: 60px;
  color: black;
  align-self: stretch;
  margin-top: 0px;
  padding-left: 10px;
  border: 1px solid burlywood;
}
