* {
  margin-bottom: 1px;
  padding: 0;
}

.MenuStyle {
  width: 100%;
  height: 30px;

  background-color: #264653;
  color: white;
}
.MenuStyle ul {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MenuStyle ul li {
  list-style: none;
  text-transform: uppercase;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
  font-family: cursive;
}
a:hover {
  color: rgb(230, 161, 181);
}
